html,body,div,img{
	margin: 0px;
	padding: 0px;
}
img,a{
	border: 0px;
	outline: 0px;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
.stretch{
	min-height: 600px;
	min-width: 800px;
}
.background{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
}
.backimage{
	width: 100%;
	height: 100%;
}
#back-day-div{
	z-index: 1;
}
#back-day-div img{
}
#back-night-div{
	z-index: 1;
}
#back-night-div img{
}
#container{
	z-index: 3;
	overflow: hidden;
}
#logo{
	position: absolute;
	width: 35%;
	left: 50%;
	z-index: 30;
	bottom: 20%;
}
#logo img{
	width: 100%;
}
#cloudy-container{
	display: block;
}
.cloud{
	position: absolute;
	top: 2%;
	width: 20%;
	z-index: 6;
}
.cloud img{
	width: 100%;
}
#cloud1{
	left: -5%;
}
#cloud2{
	left: 7%;
}
#cloud3{
	left: 20%;
}
#cloud4{
	left: 35%;
}
#cloud5{
	left: 45%;
}
#cloud6{
	left: 55%;
}
#cloud7{
	left: 70%;
}
#cloud8{
	left: 85%;
}
#sun{
	position: absolute;
	right: 3%;
	top: 3%;
}
#bushy-container{
	display: block;
}
.bush{
	position: absolute;
	bottom: 0px;
	width: 30%;
}
.bush img{
	width: 100%;
	height: 20%;
}
#bush1{
	left: -10%;
	z-index: 10;
}
#bush2{
	left: 13%;
	z-index: 10;
}
#bush3{
	left: 36%;
	z-index: 10;
}
#bush4{
	left: 55%;
	z-index: 10;
}
#bush5{
	left: 80%;
	z-index: 10;
}
#bush-cover{
	display: block;
	right: 0px;
	z-index: 15;
}
#rockcrumb{
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 13;
	width: 15%;
}
#rockcrumb img{
	width: 100%;
}
#tree{
	position: absolute;
	bottom: 0px;
	left: -10%;
	z-index:7;
	width: 50%;
}
#tree img{
	width: 100%;
}
.tribe{
	position: absolute;
	height: 18%;
}
.tribe img{
	height: 100%;
}
#tribe1{
	z-index: 6;
	left: 2%;
	bottom: 2%;
}
#tribe2{
	z-index: 9;
	left: 20%;
	bottom: 2%;
}
#tribe3{
	z-index: 9;
	left: 35%;
	bottom: 2%;
}
#tribe4{
	z-index: 9;
	left: 80%;
	bottom: 2%;
}
#tribe5{
	z-index: 9;
	left: 90%;
	bottom: 2%;
}
